<header>
  <nav>
    <ul>
      <li>
        <h1>
          <%= link("index.html", "Mobile NixOS") %>
        </h1>
      </li>
      <li><%= link("getting-started.html", "Getting Started") %></li>
      <li><%= link("resources.html", "Resources") %></li>
      <li><%= link("devices/index.html", "Devices List") %></li>
    </ul>
  </nav>
</header>
