<header>
  <nav>
    <ul>
      <li>
        <h1>
          <%= link("index.html", "Mobile NixOS") %>
        </h1>
      </li>
      <li><a href="https://github.com/NixOS/mobile-nixos">Source Code</a></li>
      <li><%= link("devices/index.html", "Devices List") %></li>
      <li><%= link("porting-guide.html", "Porting Guide") %></li>
    </ul>
  </nav>
</header>
