<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Mobile NixOS news</title>
    <description>RSS feed for Mobile NixOS</description>
    <lastBuildDate><%= entries.first[:date].rfc822 %></lastBuildDate>
    <link>https://mobile-nixos.github.io/</link>
    <atom:link href="https://mobile-nixos.github.io/index.xml" rel="self" type="application/rss+xml"/>
<%= item_nodes.join("\n") %>
  </channel>
</rss>
